
<div  data-ng-controller="documentCtrl"> 
    <fieldset>
        <div class="head"><span class="header"><h5><b>Document Search Result</b></h5></span></div>


        <div>
            <div  ng-init="showData()">

    
                     <table class="table table-striped table-hover" width="100%" style="overflow-x: scroll;">
                        <tr colspan"4">
                            <th class="imagetableth"><b>Document Name</b></th>
                            <th class="imagetableth"><b>Type</b></th>
                            <th class="imagetableth"><b>Created Date</b></th>
                            <th class="imagetableth"><b>Updated Date</b></th>
                        </tr>
                        <tr  ng-repeat="datalist in datalists| pagination: curPage * pageSize | limitTo: pageSize">

                            <td class="val"><a href=""	ng-click="documentDetail(datalist.documentName, datalist.ida3a11)">
							<span class="glyphicon sort-icon">{{ datalist.documentName}}</span></a></td>
                            <td class="val" ><span class="glyphicon sort-icon">{{ datalist.documentType}}</span></td>
                            <td class="val"><span class="glyphicon sort-icon">{{ datalist.createDate}} </span></td>
                            <td class="val"><span class="glyphicon sort-icon">{{ datalist.updateDate}}</span></td> 

                            
                        </tr>
                    </table>
                <div ng-show="datalists.length" align = "center">

                    <button type="button" class="btn-link" ng-disabled="curPage == 0" ng-click="curPage = curPage - 1">  <span class="glyphicon sort-icon"><b> &lt;&lt; </b></span></button>

                    <span class="glyphicon sort-icon">{{curPage + 1}} of {{ numberOfPages()}}</span>

                    <button type="button" class="btn-link"
                            ng-disabled="curPage >= datalists.length / pageSize - 1"
                            ng-click="curPage = curPage + 1"><span class="glyphicon sort-icon"><b> &gt;&gt;</b></span></button>
                    <br><br>

                </div>



            </div>
        </div>

    </fieldset>
    <div align = "left">
        <input type="button" name="Search" value = "" ng-click="goback('documentcriteria')" class="buttonwithbackimage" />

    </div>
</div>
