config.report.customerReport.filename=Customer Report
config.upload.customerReport.sheetname=Customer Report
config.report.customerReport.columnname=Sold To Number,Sold To Description,Ship To Number,Ship To Description,Sales Organization,Distribution Channel,Division,Channel,Exclude From SO Creation,Sales Order Type Primary,Sales Order Type Secondary,Sales Order Type Tertiary,Impacted By PreBuy,Segment,Site,Target,Suggested Retail Price Currency,WholeSale Price Currency,isActive,Sent To Joor,Sales Doc Type for Alt Site,Alt Site
moq.upload.filename=MOQ List
moq.upload.sheetname=MOQ List
moq.download.list.columnname=Season,SKU,Delete,Effective Date
moq.download.list.sheetName=MOQ List
moq.upload.headers=SKU,SeasonCode,Delete,Effective Date
prebuy.upload.filename=Pre Buy List
prebuy.upload.sheetname=Pre Buy List
prebuy.upload.headers=Season,SKU,IsPreBuySKU,COO
skuchange.report.filename=SKU Change Report
skuchange.report.SKU.sheetName=Sku Change Report
skuchange.report.columnname=Status,Business Unit,File Name (SAP upload files),SKU,Style Color,Width,Size,EU Size,Style No,Style Name,Style Description,Material Name,Color Name,Color Code,Sku Intro Date,Department,Class,Retail Price,Wholesale Price,Retail Currency,Wholesale Currency,Target Cost,COO,Total Buy Qty,SO Start Ship Date,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Sold To Description,Country,City,Ship-To,SO Header Req Del Date,SO Cancel Date,PO Number,Site,Req Segment,OldSKU,NewSKU,Drop,Level,LevelID,Delete,EffectiveDate,Order Total USD
skuchange.list.filename=SKU Change List
skuchange.list.SKU.sheetName=SKU Change List
skuchange.list.columnname=Season,OldSKU,NewSKU,Drop,Level,LevelID,Delete,EffectiveDate

skuchange.report.SKU.filename=SkuChangeList_SKU_DD
skuchange.report.SKU.columnname=Fashion Season,Old SKU,New SKU,Drop,Level,Level ID
skuchange.lower.table.labels=Fashion Season,Old SKU,New SKU,Drop,Level,Level ID,Update
sap.report.columnname=SoldToNumber,Site,ShippingInstruction,ExcludeFromSOCreation,salesDocType,SalesOrg,DistributionChannel,Division,SoldToNumber,ShipToNumber,Season,StyleDescription,storageLocation,ColorSpecification,ColorName,StyleNumber,InStoreDate,PurchaseGroup,StyleDescription,MaterialName,SkuIntroDate,Department,ParentsClass,RetailPrice,Season,OldSKU,NewSKU,Drop,Level,SkuChangeDelete,SkuChangeEffectiveDate,TotalBuyQuantity,StartShipDate,OrderNotes,ExFactMonth,PoNumber,POType,SoCancelDate,Channel,ReqSegment,Target
sap.preview.report.name=Preview_FinalBuy
sap.preview.report.columnname=Order Id,Channel,Pre Buy SKU,Season,SKU,New SKU,Old SKU,Style Color,Style No,Style Name,Style Description,Material Name,Color Name,Color Code,Sku Intro Date,Department,Department Description,Class,Class Description,Sub Class Code,Sub Class Description,Retail Price,Wholesale Price,Retail Currency,Wholesale Currency,Target Cost,COO,Total Buy Qty,Scheduled Delivery Date,Notes,ExFact Month,In Store Date,Vendor,Purchase Group,Style Description,Storage Location,Site,Stock Segment,Newness,Shipping Instruction,Exclude from Sales Order Creation,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Ship-To,SO Cancel Date,PO Number,PO Type,Order Reason,Req Segment,Target,Order Total USD,Cancel Delivery Date,Delete,Drop,Effective Date,Joor Order Type,Level,Level Id,SO Header Req Delete Date,Upc code,Upload Date
sap.preview.report.sheetname=Preview_FinalBuy
archived.download.filename=Archived Orders
archived.download.sheetname=Archived Orders
archived.download.columnname=Order Id,Status,Status Date,Channel,Pre Buy SKU,Season,SKU,Style Color,Width,Size,Style No,Style Name,Material Name,Color Name,Color Code,Sku Intro Date,Department,Class,Retail Price,Target Cost,COO,Total Buy Qty,SO Start Ship Date,Notes,ExFact Month,In Store Date,Vendor,Purchase Group,Style Description,Storage Location,Site,Stock Segment,Newness,Shipping Instruction,Exclude from Sales Order Creation,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Sold To Description,Country,City,Ship-To,SO Cancel Date,PO Number,PO Type,Order Reason,Req Segment,Target,Order Total USD,Upc code

order.download.filename=Order Report
order.download.sheetname=Order Report
order.download.columnname=Order Id,Joor Order Type,Status,Status Date,Channel,Pre Buy SKU,Season,SKU,Style Color,Width,Size,EU Size,Style No,Style Name,Material Name,Color Name,Color Code,Sku Intro Date,Department,Department Description,Class,Class Description,Sub Class Code,Sub Class Description,Retail Price,Target Cost,COO,Total Buy Qty,SO Start Ship Date,Notes,ExFact Month,In Store Date,Vendor,Purchase Group,Style Description,Storage Location,Site,Stock Segment,Newness,Shipping Instruction,Exclude from Sales Order Creation,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Sold To Description,Country,City,Ship-To,SO Cancel Date,PO Number,PO Type,Order Reason,Req Segment,Target,Order Total USD
moq.report.filename=MOQ Report
moq.download.sheetname=MOQ Report
moq.download.columnname=Status,Business Unit,File Name (SAP upload files),SKU,Style Color,Width,Size,EU Size,Style No,Style Name,Material Name,Color Name,Color Code,Sku Intro Date,Department,Class,Retail Price,Target Cost,COO,Total Buy Qty,SO Start Ship Date,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Sold To Description,Country,City,Ship-To,SO Header Req Del Date,SO Cancel Date,PO Number,Site,Req Segment,MOQ,SKU,Delete,Effective Date,Order Total USD
upc.download.filename=UPC Validation Report
upc.download.sheetname=UPC Validation Report
upc.download.columnname=SKU name
user.audit.report.download.columnname= User Id, User Name,Create Date, Modified Date,CreatedBy,ModifiedBy,Source
user.audit.report.download.sheetname=Audit Report
user.audit.report.download.filename=Audit Report
user.audit.customer.sheetname=Customer Report
user.audit.customer.columnname=Sold To Number,Sold To Description,Ship To Number,Ship To Description,Sales Organization,Distribution Channel,Division,Channel,Exclude From SO Creation,Sales Order Type Primary,Sales Order Type Secondary,Sales Order Type Tertiary,Impacted By PreBuy,Segment,Site,Target,Suggested Retail Price Currency,WholeSale Price Currency,isActive,Sent To Joor,Source,Modified Date
user.audit.moq.sheetname=MOQ List
user.audit.moq.columnname=Season,SKU,Delete,Effective Date,Source,Modified Date
user.audit.skuchange.sheetName=SKU Change List
user.audit.skuchange.columnname=Season,OldSKU,NewSKU,Drop,Level,LevelID,Delete,EffectiveDate,Source,Modified Date
user.audit.prebuy.sheetname=Pre Buy List
user.audit.prebuy.headers=Season,SKU,IsPreBuySKU,COO,Source,Modified Date