com.moic.api.excel.filename=SeasonCode_Channel
order.colname=Channel,Pre Buy SKU,Season,SKU,Style Color,Style No,Style Name,Material Name,Color Name,Color Code,Sku Intro Date,Department,Class,Retail Price,Target Cost,COO,Total Buy Quantity,Scheduled Delivery Date,Notes,Ex Fact Mon1,Ex Fact Mon2,Ex Fact Mon3,In Store Date,Vendor,Purchase Group,Style Description,Storage Location,Site,Stock Segment,Newness,Shipping Instruction,Exclude from SO Creation,Sales Doc Type,Sales Org,Distribution Channel,Division,Sold-To,Ship-To,SO Cancel Date,PO Number,PO Type,Order Reason,Req Segment,Target