moq.report.skuchange.filename=Sku_Change
moq.report.skuchange.columnname=Old SKU,New SKU,Drop,Level,Level ID,Delete,Effective Date,Distribution Channel

moq.report.skuchange.SKU.filename=SkuChangeList_SKU_DD
moq.report.skuchange.SKU.columnname=Fashion Season,Old SKU,New SKU,Drop,Level,Level ID

moq.report.skuchange.SKU.sheetName=skuChange